@media (min-width: 991px) and (max-width: 1440px)
    .container
        width: 100%
    .first
        &__btn
            top: -55px
    .review
        &__slider
            width: 90%
        .prev
            position: absolute
            left: -40px
            top: 50%
            transform: rotate(180deg) translateY(50%)
            cursor: pointer
            width: 20px
            height: auto
        .next
            position: absolute
            right: -40px
            top: 50%
            transform: translateY(-50%)
            cursor: pointer
            width: 20px
            height: auto
            z-index: 20
    .customer
        &__item
            img
                width: 23%
                height: auto
    .footer
        &__links
            &:not(:last-child)
                margin-bottom: 10px
            a
                margin-right: 20px
        &__menu
            a
                &:not(:last-child)
                    margin-right: 50px
        
@media (max-width: 990px)
    .wow
        animation-name: none !important
        visibility: visible !important
    
    
    

// @media (max-width: 767px)
   

    
    